<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>
      Produtos
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="produtos.length > 0">

    <img
      [src]="produtos[indice].image"
      alt="Produto">

    <ion-card-header>

      <ion-card-title>

        {{ produtos[indice].title }}

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <p>

        {{ produtos[indice].description }}

      </p>

      <h2>

        R$ {{ produtos[indice].price }}

      </h2>

    </ion-card-content>

  </ion-card>

  <ion-button
  expand="block"
  color="medium"
  routerDirection="back"
  (click)="anterior()"
  [disabled]="indice === 0">

  ⬅ Produto Anterior

</ion-button>

<ion-button
  expand="block"
  color="success"
  routerDirection="forward"
  (click)="proximo()"
  [disabled]="indice === produtos.length - 1">

  Próximo Produto ➡

</ion-button>

</ion-content>