<ion-header>

  <ion-toolbar color="primary">

    <ion-title>
      Minha Aplicação
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <img
      src="assets/minha-foto.jpg"
      alt="Minha foto">

    <ion-card-header>

      <ion-card-title>
        Patrick
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <p>
        <strong>Turma:</strong>
        ADS0301M
      </p>

      <p>
        <strong>Unidade:</strong>
        Bonsucesso
      </p>

      <p>
        <strong>Turno:</strong>
        Manhã
      </p>

      <p>
        <strong>Palavra-chave:</strong>
        SUA PALAVRA CHAVE
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>