<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>
      Lista de Produtos
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-button
    expand="block"
    color="primary"
    (click)="carregarProdutos()"
    *ngIf="!mostrar">

    Mostrar Produtos

  </ion-button>

  <ion-button
    expand="block"
    color="danger"
    (click)="ocultarProdutos()"
    *ngIf="mostrar">

    Ocultar Produtos

  </ion-button>

  <ion-card *ngFor="let produto of produtos" >

    <img
      [src]="produto.image"
      alt="Produto">

    <ion-card-header>

      <ion-card-title>

        {{ produto.title }}

      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <p>

        {{ produto.description }}

      </p>

      <h2>

        R$ {{ produto.price }}

      </h2>

    </ion-card-content>

  </ion-card>

</ion-content>